<ion-content>
  <app-uro-header-profile></app-uro-header-profile>

  <ion-list>
    <ion-item>
      <ion-label color="light">Notifikasi Mati</ion-label>
      <ion-toggle
        slot="end"
        name="apple"
        color="secondary"
        mode="md"
        checked
      ></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label color="light">Tugas Hari Ini</ion-label>
      <ion-toggle
        slot="end"
        name="apple"
        color="secondary"
        mode="md"
        checked
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="light">Menandai Saya</ion-label>
      <ion-toggle
        slot="end"
        name="apple"
        color="secondary"
        mode="md"
        checked
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="light">Perbaharui Tugas Saya</ion-label>
      <ion-toggle
        slot="end"
        name="apple"
        color="secondary"
        mode="md"
        checked
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="light">Perbaharui Tugas Teman</ion-label>
      <ion-toggle
        slot="end"
        name="apple"
        color="secondary"
        mode="md"
        checked
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
