<ion-content class="">
  <ion-grid class="flex-bg ion-justify-content-center">
    <ion-row>
      <ion-col>
        <div class="title">
          <h1 class="ion-text-center">Daftar</h1>
        </div>

        <div class="bg-color">
          <br />
          <div>
            <form class="ion-padding">
              <p class="input-label">Akun anda telah terdaftar:</p>
              <p class="email">emailanda@gmail.com</p>
              <p class="input-label">Harap Menunggu Konfirmasi Admin</p>
              <br />
              <div class="container-form-btn">
                <button type="button" routerLink="/login" class="form-btn-full">
                  Selesai
                </button>
              </div>
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
