<ion-content [fullscreen]="true">
  <div class="title-warper">
    <div class="logo">
      <ion-img src="assets\icon\drawable-hdpi\Logo Light Blue.png"></ion-img>
    </div>
    <h3 class="text"><strong>Notifikasi</strong> ku</h3>
  </div>

  <div class="text-center uro-sort">
    <ion-item lines="none">
      <ion-label>Sortir :</ion-label>
      <button class="form-btn-full uro-xs ion-margin-end">Semua Tanggal</button>
      <ion-datetime
        class="form-btn-full uro-xs outline datetime-warper"
        placeholder="Pilih Tanggal"
      ></ion-datetime>
    </ion-item>
  </div>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h1 class="day">Hari Ini</h1>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item class="item-project">
      <ion-avatar slot="start">
        <img
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="
        />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <p>
            <strong>dio</strong> menyelesaikan tugas pada
            <strong>App Project</strong>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item class="item-project">
      <ion-avatar slot="start">
        <img
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="
        />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <p>
            <strong>dio</strong> menyelesaikan tugas pada
            <strong>App Project</strong>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
