<ion-content class="">
  <ion-grid class="flex-bg ion-justify-content-center">
    <ion-row>
      <ion-col>
        <div class="title">
          <h1 class="ion-text-center">Daftar</h1>
        </div>

        <div class="bg-color">
          <br />
          <div>
            <form class="ion-padding">
              <p class="input-label">Nama Pengguna</p>
              <div class="wrap-input">
                <input
                  class="input"
                  type="text"
                  name="uro_username"
                  placeholder="Nama Pengguna"
                />
              </div>

              <p class="input-label">Kata Sandi</p>
              <div class="wrap-input">
                <input
                  class="input"
                  type="password"
                  name="uro_email"
                  placeholder="Kata Sandi"
                />
              </div>

              <p class="input-label">Email</p>
              <div class="wrap-input">
                <input
                  class="input"
                  type="email"
                  name="uro_email"
                  placeholder="emailanda@"
                />
              </div>

              <div class="container-form-btn">
                <button type="button" class="form-btn-full">Lanjut</button>
              </div>
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
