<ion-header [translucent]="true" class="uro-header">
  <ion-toolbar class="">
    <div class="title-warper">
      <div class="logo">
        <ion-img src="assets\icon\drawable-hdpi\Logo Light Blue.png"></ion-img>
      </div>
      <h3 class="text"><strong>My</strong> Project</h3>
    </div>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-drawer">
    <div>
      <ion-list>
        <h3 class="ion-text-center">Atur Proyek</h3>
        <ion-item>
          <ion-label position="floating">Manager Proyek</ion-label>
          <ion-input></ion-input>
          <ion-button slot="end" shape="round" color="secondary"
            >ubah</ion-button
          >
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nama Proyek</ion-label>
          <ion-input placeholder="Nama Proyek"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nama Perusahaan</ion-label>
          <ion-input placeholder="Nama Perusahaan"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Nomor Urut</ion-label>
          <ion-input placeholder="Nomor"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div>
      <ion-chip>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>Chip Avatar</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>Chip Avatar</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>Chip Avatar</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Tambah Tim</ion-label>
      </ion-chip>
    </div>

    <div>
      <ion-tab-bar class="tab-bottom" slot="bottom">
        <ion-tab-button disabled="true"> </ion-tab-button>
        <ion-tab-button color="danger">
          <div class="circle-btn-done-modal">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
          <ion-label>Selesai</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="hide_drawer()">
          <div class="circle-btn-close-modal">
            <ion-icon name="close-outline"></ion-icon>
          </div>
          <ion-label color="danger">Batal</ion-label>
        </ion-tab-button>
        <ion-tab-button disabled="true"> </ion-tab-button>
      </ion-tab-bar>
    </div>
  </div>

  <div class="text-center">
    <button
      class="form-btn-full uro-xs ion-margin-top"
      [ngClass]="showFinished ? 'solid' : 'outline'"
      (click)="toggle_show_finished()"
    >
      Tampilkan Terselesaikan
    </button>
  </div>

  <ion-item
    *ngFor="let data of project; let i = index"
    (click)="project_click(data.id)"
    [ngClass]="{'disabled' : data.isFinished}"
  >
    <ion-avatar slot="start">
      <div class="circle-index">{{ i + 1}}</div>
    </ion-avatar>
    <ion-label>
      <ion-text>
        <h2>{{data.nama}}</h2>
      </ion-text>
      <ion-text color="medium">
        <p class="job">{{data.owner}}</p>
      </ion-text>
    </ion-label>

    <div class="button-warper" *ngIf="activeid == data.id">
      <button class="form-btn-full uro-xs" (click)="edit_project(data.id)">
        Edit</button
      ><br />
      <ion-button
        size="small"
        color="light"
        (click)="delete_project(data.id)"
        shape="round"
        >Delete</ion-button
      >
    </div>
  </ion-item>
</ion-content>
