.title-warper {
  padding: 20px;
}

.title-warper .logo,
.title-warper .text {
  vertical-align: middle;
}

.title-warper .logo {
  width: 35px;
  display: inline-block;
  margin: 0px 13px 0px 17px;
}

.title-warper .text {
  color: #58f9da;
  font-size: 24pt;
  display: inline-block;
  margin: 0px;
  padding: 3px 12px;
  border-left: 1px solid white;
}

.title-warper .text strong {
  color: #30b299;
}

ion-searchbar {
  --background: white;
  width: 90%;
  margin: 0px auto;
}

ion-item h2 {
  color: white;
  font-size: 20pt;
}

ion-item .id {
  font-size: 9pt;
  color: #52e5cf;
}

ion-item .job {
  font-size: 14pt;
  font-style: italic;
  color: #eeeeee;
}
