<ion-header [translucent]="true" class="uro-header">
  <ion-toolbar class="">
    <div class="title-warper">
      <div class="logo">
        <ion-img src="assets\icon\drawable-hdpi\Logo Light Blue.png"></ion-img>
      </div>
      <h3 class="text"><strong>Rekan</strong>ku</h3>
    </div>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let person of rekan">
    <ion-avatar slot="start">
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>
      <ion-text>
        <h2>{{person.nama}}</h2>
        <p class="id">ID {{person.id}}</p>
      </ion-text>
      <ion-text color="medium">
        <p class="job">{{person.role}}</p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
