/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-uro-primary: #52e5cf;
  --ion-color-uro-primary-rgb: 82, 229, 207;
  --ion-color-uro-primary-contrast: #000000;
  --ion-color-uro-primary-contrast-rgb: 0, 0, 0;
  --ion-color-uro-primary-shade: #48cab6;
  --ion-color-uro-primary-tint: #63e8d4;
}

.ion-color-uro-primary {
  --ion-color-base: var(--ion-color-uro-primary);
  --ion-color-base-rgb: var(--ion-color-uro-primary-rgb);
  --ion-color-contrast: var(--ion-color-uro-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uro-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-uro-primary-shade);
  --ion-color-tint: var(--ion-color-uro-primary-tint);
}

body {
  --ion-background-color: #182240;
}

ion-modal {
  --ion-background-color: white;
}

.circle-btn-close-modal {
  border: 3px solid #fe2525;
  color: #fe2525;
  border-radius: 50%;
  text-align: center;
  font-size: 20pt;
  width: 32px;
  height: 32px;
}

.circle-btn-done-modal {
  border: 3px solid #162241;
  color: #162241;
  border-radius: 50%;
  text-align: center;
  font-size: 20pt;
  width: 32px;
  height: 32px;
}

.alert-class .alert-wrapper {
  background: #52e5cf !important;
}

.alert-wrapper .alert-message {
  color: #162241;
}

.alert-button .alert-button-inner {
  color: #162241;
}

.input-label {
  margin: 0px 0px 5px 15px;
  color: #58f9da;
}

.wrap-input {
  background-color: 182240;
  border-radius: 25px;
  margin-bottom: 26px;
  border: 2px solid #58f9da;
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 0 23px;
  color: #eeeeee;
}

.container-form-btn {
  display: flex;
  justify-content: center;
}

.form-btn-full {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 42px;
  background-color: #58f9da;
  border-radius: 20px;
  font-size: 16px;
  color: #182240;
  text-transform: uppercase;
  transition: all 0.4s;
  padding: 0px 20px;
}

.form-btn-full.outline {
  background-color: #182240;
  color: #58f9da;
  border: 2px solid #58f9da;
}

.form-btn-full.uro-sm {
  font-size: 14px;
  min-width: 140px;
  height: 24px;
  display: inline-block;
}

.form-btn-full.uro-xs {
  font-size: 10px;
  min-width: 100px;
  height: 20px;
  display: inline;
}

ion-content {
  .uro-content-header {
    margin-bottom: 30px;
  }

  .uro-content-header p {
    color: #58f9da;
    margin: 3px;
  }

  .uro-profile-avatar {
    display: inline-block;
    width: 120px;
    height: 120px;
  }
}

.uro-primary-color {
  color: #58f9da;
}
