<ion-content>
  <app-uro-header-profile></app-uro-header-profile>

  <form class="ion-padding">
    <p class="input-label">Kata Sandi Sekarang</p>
    <div class="wrap-input">
      <input
        class="input"
        type="text"
        name="uro_username"
        placeholder="Nama Pengguna"
      />
    </div>

    <p class="input-label">Kata Sandi Baru</p>
    <div class="wrap-input">
      <input class="input" type="email" name="uro_email" placeholder="Email" />
    </div>

    <div class="container-form-btn">
      <button
        routerLink="/tabs/tab5/"
        type="button"
        class="form-btn-full outline ion-margin-end"
      >
        Batal
      </button>

      <button type="button" class="form-btn-full">UBAH</button>
    </div>
  </form>
</ion-content>
